@model UserDataModel  

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        @*<ul>
        @foreach (var item in Model.Indexes)
        {
            <li>
                <h2>@item</h2>
            </li>
        }
        </ul>*@
        <h1>@Model.Login</h1>
    </div> 
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
